name: .NET Core

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        dotnet_sdk_version: ['6.0.x', '8.0.x']

    steps:
    - uses: actions/checkout@master
      
    - uses: actions/setup-dotnet@v2
      with:
        dotnet-version: ${{ matrix.dotnet_sdk_version }} # SDK Version to use.
    
    - name: Restore Nuget packages
      run: dotnet restore ./OrderMatcher/OrderMatcher.sln
    
    - name: Build
      run: dotnet build ./OrderMatcher/OrderMatcher.sln --configuration Release --no-restore
     
    - name: Unit test
      run: dotnet test ./OrderMatcher/OrderMatcher.sln --configuration Release --no-build
